@import "ui/components/all";
@import "vars";

* {
  font-size: 1em;
  font-family: Roboto !important;
}

html,
body,
.app,
#root,
[data-reactroot] {
  top: 0 !important;
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: $bg-color !important;
}

.game {
  display: flex;
  justify-content: space-around;
}

h1 {
  color: ghostwhite;
  font-size: 4em;
  text-align: center;
}

*::-webkit-scrollbar {
  width: 0.5em !important;
  height: 0em !important;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

*::-webkit-scrollbar-thumb {
  background-color: $bg-color !important;
  outline: 1px solid #{$bg-color} !important;
}
