@import 'ui/container/all';

*
{
  font-size: 1em;
  font-family: Roboto !important;
}

html, body, .app, #root, [data-reactroot] {
  height: 100%;
  background-color: orange;
}

.chatbox-container {
  height: 300px;
  width: 300px;
  margin: 20px;
  text-align: 'center';
  display: 'inline-block';
}