.chatbox-container {
  height: 600px;
  width: 500px;
  text-align: left;
  display: inline-block;
  background-color: white; }

.chatbox {
  height: 80%;
  width: 95%;
  margin-top: 2.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: "center";
  display: "inline-block"; }

.chatbox-textfield {
  margin-bottom: 2%;
  width: 100%; }

.chatbox-button {
  margin-left: 4.5%;
  width: 150;
  display: none !important; }

.character {
  background-color: white;
  width: 600px;
  height: 600px;
  position: relative; }

.character-stats {
  position: absolute;
  top: 0;
  width: inherit;
  display: flex;
  justify-content: space-around; }

.login-background {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  background-color: #00b9688c; }

.login-container {
  height: 175px;
  width: 30%; }

.input-login {
  width: 200px; }

.input-login-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 70%;
  width: 100%;
  align-items: center; }

.loadingDiv {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff6e;
  position: absolute;
  margin: 0%;
  z-index: 4; }

.loadingMessage {
  padding-top: 75px;
  font-weight: bolder;
  font-size: larger; }

.loading {
  position: relative;
  transform: inherit !important;
  top: auto !important;
  left: auto !important; }

* {
  font-size: 1em;
  font-family: Roboto !important; }

html,
body,
.app,
#root,
[data-reactroot] {
  top: 0 !important;
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center !important;
  background-color: #00b56f !important; }

.game {
  display: flex;
  justify-content: space-around; }

h1 {
  color: ghostwhite;
  font-size: 4em; }
