.character{
  position: relative;
}

.characters{
  padding: 1em;
  position: relative;
  height: 600px;
  width: 500px;
  overflow: auto;
  background-color: white;
}

.character-stuff{
  position: relative;
}

.stats-segment{
  position: relative;
}

.stats-header{
  position: relative;
}

.item-header{
  position: relative;
}