.character {
  position: relative;
}

.ui.segment.characters {
  padding: 1em;
  position: relative;
  height: 600px;
  width: 500px;
  overflow: auto;
  background-color: white;
  margin: 0;
}

.character-attributes {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

.character-stuff {
  width: 45%;
  margin: 0 !important;
  background-color: $bg-color !important;
  color: white;
}

.character-stats {
  width: 45%;
  margin: 0 !important;
  background-color: #482188 !important;
  color: white;
}

.stats-header {
  position: relative;
}

.item-header {
  position: relative;
}

.item-label {
  margin: 0 !important;
  margin-top: 0.5em !important;
  color: white !important;
  background-color: #ffffff00 !important;
}
