.character{
  background-color: rgb(255, 255, 255);
  width: 600px;
  height: 600px;
  position: relative;
}

.character-stats{
  position: absolute;
  top: 0;
  width: inherit;
  display: flex;
  justify-content: space-around;
}