.chatbox-container {
    height: 600px;
    width: 500px;
    text-align: left;
    display: inline-block;
  }

  .chatbox {
    height: "80%";
    width: "95%";
    margin-top: "2.5%";
    margin-left: "2.5%";
    margin-right: "2.5%";
    text-align: 'center';
    display: 'inline-block';
  }

  .chatbox-textfield {
    margin-top: "2%";
    width: "70%";
    margin-left: "4%";
  }

  .chatbox-button {
    margin-left: "4.5%";
    width: 150;
  }